<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <form>
          <div class="form-row align-items-center">
                <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck">
                          <label class="form-check-label" for="gridCheck">
                            Básico
                          </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                  Intermedio
                                </label>
                              </div>
                              <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      Avanzado
                                    </label>
                                  </div>
                      </div>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </form>

    </div>
  
  </body>
</html>


